---
import Layout from "../layouts/Default.astro";
import Skills from "../components/Page/Skills.astro";
import Footer from "../components/Page/Footer.astro";
import Projects from "../components/Projects.astro";

import "../styles/page.css";

const profileData = {
	avatar: "https://github.com/khcrysalis.png",
	avataralt: "Profile Picture",
	name: "samsam",
	username: "she / her",
	details: [
		{ icon: "location_on", text: "United States, California" },
		{ icon: "schedule", text: "PST" },
	],
};

const mediaThings = [
	// le vendy machine
	["https://vendicated.dev", "https://github.com/Vendicated/Vendicated/assets/45497981/5794a4e1-292f-46cc-af3a-b33a27a2f15e", "definitely a vending machine v2"],
	// le vencord
	["https://vencord.dev", "https://lewisakura.moe/_astro/vencord.JMrtUh0o_Zz5qYw.webp", "cutest client mod"],
];

const githubProfiles = [
	// Nick Chan
	["https://github.com/asdfugil", "https://github.com/asdfugil.png", "amazing nerd who uses default profile pictures, very mysterious"],
	// HAHALOSAH
	["https://hhls.xyz/", "https://github.com/HAHALOSAH.png", "a huge winner.. HAHAWINNAH"],
	// Dhinak G
	["https://github.com/dhinakg", "https://github.com/dhinakg.png", "opencore nerd and cool friend who likes sending kitty pictures, this guy is amazing"],
	// llsc12
	["https://llsc12.me/", "https://github.com/llsc12.png", "cute person who adores swift and macos... therapy may help"],
	// Lunar (void)
	["https://github.com/voidlovescats", "https://github.com/voidlovescats.png", "a kitty cat who loves their dolly"],
	// Vendy Machine
	["https://vendicated.dev/", "https://github.com/vendicated.png", "definitely a vending machine"],
	// Kokeshi Doll
	["https://kok3shidoll.web.app/index.html", "https://github.com/kok3shidoll.png", "nice to talk to, cool translator and developer.."],
	// Fawni
	["https://fawn.moe/", "https://codeberg.org/fawn.png?size=256", "big fawnie, very cute and adorable"],
	// Emma (Overestimate)
	["https://github.com/overestimate", "https://github.com/overestimate.png", "one of the cooler emma's, name too common though :("],
	// RoootTheFox
	["https://rooot.gay/", "https://github.com/roootthefox.png", "a cool fox who likes messing with their ipad"],
	// mineek
	["https://github.com/mineek", "https://github.com/mineek.png", "a genius, geniunely"],
	// Paige, tiramisu
	["https://tiramisu.gay/", "https://github.com/darwinx64.png", "lexycat enjoyer"]
];

function shuffle(array) {
	return array.sort(() => Math.random() - 0.5);
}

---

<Layout>
  	<script src="../scripts/time.js"/>
  	<div class="layout">

		<div style="margin-top: 15px; display: flex; justify-content: space-between; align-items: center;">
			<div>
				<p class="name">
					hi, i'm 
					<span style="background: linear-gradient(to right, #a1c4fd, #c2e9fb); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">{profileData.name}</span>!
				</p>
				<p class="username">
					{profileData.username} ∙ silly wannabe programmer
				</p>
			</div>
		</div>

		<hr class="seperator"/>

		<h2>Small Summary</h2>
		<div style="margin-bottom: 10px; display: grid; grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); gap: 10px;">
			{
				profileData.details.map((item) => (
					<div style="display: flex; align-items: center;">
						<span style="font-size: 20px;" class="box material-symbols-outlined">
							{item.icon}
						</span>
						<span style="margin-left: 9px;">
							{item.text}
							{item.text === "PST" && <div id="pst-time" style={{ color: '#adadad', display: 'inline-block' }}/>}
						</span>
					</div>
				))
			}
		</div>


		<div class="box-special">
		<p>
			I'm a small programmer who likes doing things on their own, though also often works with other people in either teams or just in collaboration!<br/><br/>

			<strong><em>Very</em></strong> interested in iOS/tvOS/macOS-related software, really anything Apple. First took interest several years ago with a small SE and now since I've taken interest, I've built a lot of software that people like to use :D
		</p>
		</div>

		<h2>Projects I've Worked On</h2>
		<Projects/>

		<h2>Friends :D</h2>
		<div class="box" style="margin-bottom: 10px; display: grid; grid-template-columns: repeat(auto-fill, minmax(88px, 1fr)); gap: 10px;">
			{
				mediaThings.map((thing) => (
					<a style="display:flex;" href={thing[0]}>
						<img src={thing[1]} title={thing[2]} />
					</a>
				))
			}
		</div>

		<div class="box" style="margin-bottom: 10px; display: grid; grid-template-columns: repeat(auto-fill, minmax(50px, 1fr)); gap: 10px;">
			{
				shuffle(githubProfiles).map((profile) => (
					<a href={profile[0]} target="_blank" rel="noopener noreferrer" style={{ textDecoration: 'none' }}>
						<div style={{ display: 'flex', justifyContent: 'center', alignItems: 'center', flexDirection: 'column' }}>
							<img src={profile[1]} alt={profile[2]} class="friend-avatar" />
						</div>
					</a>
				))
			}
		</div>

		<Footer/>
	</div>
</Layout>
